{% include "index.html" %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Trainer List</h2>
    <form method="GET" class="mb-3">
        <div class="form-inline mb-4">
            <input type="text" name="q" class="form-control mr-sm-2" style="width: 300px;" placeholder="Enter a search name">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            &nbsp;
            <a href="{% url 'trainer_list' %}">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="button">
                    Reset
                </button>
            </a>
        </div>
    </form>
    {% if trainers %}
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Full Name</th>
                <th scope="col">Registration Date</th>
                <th scope="col">Monthly Fee</th>
                <th scope="col">Member Fee</th>
            </tr>
        </thead>
        <tbody>
            {% for trainer in trainers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ trainer.full_name }}</td>
                <td>{{ trainer.registration_date|date:"d/m/Y" }}</td>
                <td>${{ trainer.monthly_fee }}</td>
                <td>${{ trainer.student_fee }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No trainers were found matching your search.</p>
    {% endif %}
</div>

<br>
<br>

{% endblock content %}
