{% include "index.html" %}

{% block content %}

<style>
    .table th, .table td {
        vertical-align: middle;
    }

    /* Custom class for lighter table header */
    .thead-light-custom {
        background-color: #e9ecef; /* Light grey background */
        color: #212529; /* Dark text color for contrast */
    }
</style>

<div class="container mt-5">
    <h2 class="mb-4">Sold Bar Panel</h2>
    {% for month, data in grouped_bar_solds.items %}
    <div class="row mb-2">
        <div class="col-md-6 text-left">
            <h4>{{ month }}</h4>
        </div>
        <div class="col-md-6 text-right">
            <h4>Total Sales: ${{ data.total_sales }}</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover text-center mb-5">
            <thead class="thead-light-custom">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Count</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for bar_sold in data.bar_solds %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ bar_sold.product_name }}</td>
                    <td>{{ bar_sold.date|date:"d/m/Y" }}</td>
                    <td>${{ bar_sold.price }}</td>
                    <td>
                        <a href="{% url 'increase_sold' bar_sold.pk %}" class="btn btn-sm btn-success">+</a>
                        {{ bar_sold.count }}
                        <a href="{% url 'decrease_sold' bar_sold.pk %}" class="btn btn-sm btn-warning">-</a>
                    </td>
                    <td>
                        <a href="{% url 'update_bar_sold' bar_sold.pk %}" class="btn btn-sm btn-info">Edit</a>
                        <a href="{% url 'delete_bar_sold' bar_sold.pk %}" class="btn btn-sm btn-danger"
                            onclick="return confirm('Are you sure you want to delete this bar item?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

<br>
<br>

{% endblock content %}
